<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     data-namespace-typo3-fluid="true">
    <f:layout name = "Content"/>

    <f:section name="Configuration">
        <flux:form id="portfolio" description="portfolio section" label="portfolio">
            <flux:form.option name="group" value="scaffold" />
            <flux:form.option name="Fluidcontent" value="{sorting: 150}"/>
            <flux:form.option name="icon" value="EXT:ext_scaffold/Resources/Public/assets/img/firebirdlogo.png"/>

            <flux:field.text name="title" label="portfolio title" enableRichText="1"/>

            <flux:form.sheet name="app" label="app images" description="images for app block">
            <flux:field.inline.fal name="appimages" required="1" minItems="1" maxItems="3"/>
            </flux:form.sheet>

            <flux:form.sheet name="card" label="card images" description="images for card block">
            <flux:field.inline.fal name="cardimages" required="1" minItems="1" maxItems="3"/>
            </flux:form.sheet>

            <flux:form.sheet name="web"label="web images" description="images for web block">
            <flux:field.inline.fal name="webimages" required="1" minItems="1" maxItems="3"/>
            </flux:form.sheet>

        </flux:form>
    </f:section>

    <f:section name="Preview">
        <a>portfolio</a><br>
        <div style="border-bottom: 1px solid#000; width: 100%"></div>
        {title}...

    </f:section>

    <f:section name="Main">

        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="section-title">
                  <f:format.html>{title}</f:format.html>
                   </div>

                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-app">App</li>
                            <li data-filter=".filter-card">Card</li>
                            <li data-filter=".filter-web">Web</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">
                    <f:for each="{v:content.resources.fal(field: 'appimages')}" as="image" iteration="iterator" >
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">



                        <div class="portfolio-wrap">
                            <f:image treatIdAsReference="1" src="{image.id}" title="{image.title}" alt="{image.alternative}" class="img-fluid" />
                            <br/>

                            <div class="portfolio-info">
                                <h4>{image.title}</h4>
                                <p>{image.alternative}</p>
                                <div class="portfolio-links">
                                    <a href="{image.id}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{image.title}"><i class="bx bx-plus"></i></a>
                                    <a href="typo3conf/ext/ext_scaffold/Resources/Public/portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>

                    </f:for>
                    <f:for each="{v:content.resources.fal(field: 'webimages')}" as="image" iteration="iterator">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">

                        <div class="portfolio-wrap">
                            <f:image treatIdAsReference="1" src="{image.id}" title="{image.title}" alt="{image.alternative}" class="img-fluid"/><br/>
                            <div class="portfolio-info">
                                <h4>{image.title}</h4>
                                <p>{image.alternative}</p>
                                <div class="portfolio-links">
                                    <a href="{image.id}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{image.title}"><i class="bx bx-plus"></i></a>
                                    <a href="typo3conf/ext/ext_scaffold/Resources/Public/portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>


                    </div>
                    </f:for>

                    <f:for each="{v:content.resources.fal(field: 'cardimages')}" as="image" iteration="iterator">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">


                        <div class="portfolio-wrap">

                            <f:image treatIdAsReference="1" src="{image.id}" title="{image.title}" alt="{image.alternative}" class="img-fluid"/><br/>
                            <div class="portfolio-info">
                                <h4>{image.title}</h4>
                                <p>{image.alternative}</p>
                                <div class="portfolio-links">
                                    <a href="{image.id}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{image.title}"><i class="bx bx-plus"></i></a>
                                    <a href="typo3conf/ext/ext_scaffold/Resources/Public/portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                    </f:for>
                </div>


            </div>
        </section>


    </f:section>


</div>