<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     data-namespace-typo3-fluid="true">
    <f:layout name = "Content"/>

    <f:section name="Configuration">
        <flux:form id="team" description="team section" label="team">
            <flux:form.option name="group" value="scaffold" />
            <flux:form.option name="Fluidcontent" value="{sorting: 150}"/>
            <flux:form.option name="icon" value="EXT:ext_scaffold/Resources/Public/assets/img/firebirdlogo.png"/>
            <flux:field.text name="header" label="Header" enableRichText="1"/>
            <flux:form.sheet name="col1" label="Column1" >
                <flux:field.inline.fal name="img1" required="1" minItems="1" maxItems="1" />
                <flux:field.text name="text1" label="description" enableRichText="1"/>
                <flux:field.text name="twitter1" label="twitter" />
                <flux:field.text name="facebook1" label="facebook" />
                <flux:field.text name="instagramm1" label="instagramm" />
                <flux:field.text name="linkedid1" label="linkedid" />
            </flux:form.sheet>
            <flux:form.sheet name="col2" label="Column2" >
                <flux:field.inline.fal name="img2" required="1" minItems="1" maxItems="1" />
                <flux:field.text name="text2" label="description" enableRichText="1"/>
                <flux:field.text name="twitter2" label="twitter" />
                <flux:field.text name="facebook2" label="facebook" />
                <flux:field.text name="instagramm2" label="instagramm" />
                <flux:field.text name="linkedid2" label="linkedid" />
            </flux:form.sheet>
            <flux:form.sheet name="col3" label="Column3" >
                <flux:field.inline.fal name="img3" required="1" minItems="1" maxItems="1" />
                <flux:field.text name="text3" label="description" enableRichText="1"/>
                <flux:field.text name="twitter3" label="twitter" />
                <flux:field.text name="facebook3" label="facebook" />
                <flux:field.text name="instagramm3" label="instagramm" />
                <flux:field.text name="linkedid3" label="linkedid" />
            </flux:form.sheet>


        </flux:form>
    </f:section>

    <f:section name="Preview">
        <a>Team</a><br>
        <div style="border-bottom: 1px solid#000; width: 100%"></div>
        {title}...

    </f:section>

    <f:section name="Main">

        <section id="team" class="team section-bg">
            <div class="container">

                <div class="section-title">
                <f:format.html>{header}</f:format.html>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            {v:content.resources.fal(field: 'img1') -> v:iterator.first() -> v:variable.set(name: 'image')}
                            <f:image src="{image.id}" width="190" height="190"/>
                            <f:format.html>{text1}</f:format.html>
                            <div class="social">
                                <a href="{twitter1}" target="_blank"><i class="bi bi-twitter"></i></a>
                                <a href="{facebook1}" target="_blank"><i class="bi bi-facebook"></i></a>
                                <a href="{instagramm1}" target="_blank"><i class="bi bi-instagram"></i></a>
                                <a href="{linkedid1}" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            {v:content.resources.fal(field: 'img2') -> v:iterator.first() -> v:variable.set(name: 'image')}
                            <f:image src="{image.id}" width="190" height="190"/>
                            <f:format.html>{text2}</f:format.html>
                            <div class="social">
                                <a href="{twitter2}" target="_blank"><i class="bi bi-twitter"></i></a>
                                <a href="{facebook2}" target="_blank"><i class="bi bi-facebook"></i></a>
                                <a href="{instagramm2}" target="_blank"><i class="bi bi-instagram"></i></a>
                                <a href="{linkedid2}" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            {v:content.resources.fal(field: 'img3') -> v:iterator.first() -> v:variable.set(name: 'image')}
                            <f:image src="{image.id}" width="190" height="190"/>
                            <f:format.html>{text3}</f:format.html>
                            <div class="social">
                                <a href="{twitter3}" target="_blank"><i class="bi bi-twitter"></i></a>
                                <a href="{facebook3}" target="_blank"><i class="bi bi-facebook"></i></a>
                                <a href="{instagramm3}" target="_blank"><i class="bi bi-instagram"></i></a>
                                <a href="{linkedid3}" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

    </f:section>


</div>